---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import Edu from '../components/Edu.astro';
---

<BaseLayout title="About" description="About">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<br><br>Hi there! I’m Bianca Davey. 
						I’m passionate about creatively utilising technology to create engaging experiences.  
						<br><br>I have experience in collaborative software development, over 6 years of experience 
						in project management and client relations, and a Masters degree in Information Technology from the 
						University of New England, Australia.
						<br><br>I’ve lived and worked in Australia, the USA and Europe, and I speak German at the B2 level. 
						I’m based in London. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Technical Skills</h2>
				<div class="content">
					<p><br></br><b>Software Development</b></p>
					<div class="roles">
						<Pill><Icon icon="terminal-window" size="1.33em" />Java</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />Kotlin</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />C#</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />OOP</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />Python</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />Visual Studio Code</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />IntelliJ</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />Git</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />Game Development</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" />Unity</Pill>
					</div>
					<p><br></br><b>Web Development</b></p>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" />TypeScript</Pill>
						<Pill><Icon icon="code" size="1.33em" />JavaScript</Pill>
						<Pill><Icon icon="code" size="1.33em" />CSS</Pill>
						<Pill><Icon icon="code" size="1.33em" />HTML</Pill>
						<Pill><Icon icon="code" size="1.33em" />React</Pill>
						<Pill><Icon icon="code" size="1.33em" />Angular</Pill>
						<Pill><Icon icon="code" size="1.33em" />Express.js</Pill>
						<Pill><Icon icon="code" size="1.33em" />Node.js</Pill>
						<Pill><Icon icon="code" size="1.33em" />MERN Stack</Pill>
						<Pill><Icon icon="code" size="1.33em" />Spring Boot</Pill>
					</div>
					<p><br></br><b>Data Management</b></p>
					<div class="roles">
						<Pill><Icon icon="list" size="1.33em" />MySQL</Pill>
						<Pill><Icon icon="list" size="1.33em" />postGreSQL</Pill>
						<Pill><Icon icon="list" size="1.33em" />MariaDB</Pill>
						<Pill><Icon icon="list" size="1.33em" />Relational DB Models</Pill>
						<Pill><Icon icon="list" size="1.33em" />MongoDB</Pill>
						<Pill><Icon icon="list" size="1.33em" />Data Visualisation</Pill>
						<Pill><Icon icon="list" size="1.33em" />Metabase</Pill>
						<Pill><Icon icon="list" size="1.33em" />RapidMiner</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" />Excel</Pill>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p><br></br><b>Project Management Tools</b></p>
					<div class="roles">
						<Pill><Icon icon="pencil-line" size="1.33em" />Jira</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" />Trello</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" />Notion</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" />Microsoft Office Suite</Pill>
					</div>
					<p>
						<p><br></br><b>Project Management</b></p>
						<ul>
							<li>Project management and web production</li>
							<li>Agile methodology, sprint planning and demos</li>
							<li>QA and remediation</li>
							<li>Evaluative reporting</li>
							<li>Communication and team management</li>
							<li>Stakeholder management and client liaison</li>
						</ul>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<Edu />
				</div>
			</section>
						<section>
				<h2 class="section-title">Recent Experience</h2>
				<div class="content">
					<p>
						<br><br>
						<ul>
							<li><b>Website Production Coordinator</b>, Made Media, London, UK, 2024-current</li>
							<li><b>Product Manager</b>, MyMiniFactory, London, UK, 2021-2023</li>
							<li><b>Sales Engineering Summer Intern with Corda Certification</b>, R3, London, UK, 2021</li>
							<li><b>Event Manager</b>, Expedition America, San Francisco, USA, 2019-2020</li>
						</ul>
					</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.roles {
			margin-top: 0.5rem;
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
