---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="graduation-cap" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Masters of Information Technology with Vice Chancellor's Award</h2>
		<p>GPA 6.88/7, University of New England, Australia, 2023</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="graduation-cap" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>MA in International Event Management with Distinction</h2>
		<p>Manchester Metropolitan University, England, 2019</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="certificate" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Diploma of Languages in German with B2 Certificate</h2>
		<p>Macquarie University, Australia, 2018</p>
	</div>
		<div class="stack gap-2 lg:gap-4">
		<Icon icon="graduation-cap" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Bachelor of Law and Bachelor of Arts with Distinction</h2>
		<p>University of Wollongong, Australia, 2014</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="certificate" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Higher School Certificate</h2>
		<p>ATAR 94.5/100, Smith's Hill High School, Australia</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
